body {
    font-family: "Montserrat", sans-serif;
    color:#808080
}
h1 {
    text-transform: capitalize;
    font-size: 30px;
    font-weight: bold;
}

p {
    text-transform: capitalize;
}

#article-content p {
    margin-top:5%;
}
