
@{
    ViewBag.Title = "WriterON";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form action="/Writer/WriterON" method="post">
    <table class="table">
        <tr>
            <td><input type="text" name="BIO" value="" placeholder="açıklama (bio)"/></td>
        </tr>

        <tr>
            <td><input type="submit"  value="Başvuru Gönder" class="btn btn-info" /></td>
        </tr>

    </table>
</form>

